html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/*  Extrait normal */

html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}

/* End extract */

html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.faxel-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.w3-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.faxel-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.faxel-table,.faxel-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.faxel-table-all{border:1px solid #ccc}
.faxel-bordered tr,.faxel-table-all tr{border-bottom:1px solid #ddd}.faxel-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.faxel-table-all tr:nth-child(odd){background-color:#fff}.faxel-table-all tr:nth-child(even){background-color:#f1f1f1}
.faxel-hoverable tbody tr:hover,.faxel-ul.faxel-hoverable li:hover{background-color:#ccc}.faxel-centered tr th,.faxel-centered tr td{text-align:center}
.faxel-table td,.faxel-table th,.faxel-table-all td,.faxel-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.faxel-table th:first-child,.faxel-table td:first-child,.faxel-table-all th:first-child,.faxel-table-all td:first-child{padding-left:16px}
.faxel-btn,.faxel-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.faxel-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.faxel-btn,.faxel-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.faxel-disabled,.faxel-btn:disabled,.faxel-button:disabled{cursor:not-allowed;opacity:0.3}.faxel-disabled *,:disabled *{pointer-events:none}
.faxel-btn.faxel-disabled:hover,.faxel-btn:disabled:hover{box-shadow:none}
.faxel-badge,.faxel-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.faxel-badge{border-radius:50%}
.faxel-ul{list-style-type:none;padding:0;margin:0}.faxel-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.faxel-ul li:last-child{border-bottom:none}
.faxel-tooltip,.faxel-display-container{position:relative}.faxel-tooltip .faxel-text{display:none}.faxel-tooltip:hover .faxel-text{display:inline-block}
.faxel-ripple:active{opacity:0.5}.faxel-ripple{transition:opacity 0s}
.faxel-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.faxel-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.faxel-dropdown-click,.faxel-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.faxel-dropdown-hover:hover .faxel-dropdown-content{display:block}
.faxel-dropdown-hover:first-child,.faxel-dropdown-click:hover{background-color:#ccc;color:#000}
.faxel-dropdown-hover:hover > .faxel-button:first-child,.faxel-dropdown-click:hover > .faxel-button:first-child{background-color:#ccc;color:#000}
.faxel-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.faxel-check,.faxel-radio{width:24px;height:24px;position:relative;top:6px}
.faxel-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.faxel-bar-block .faxel-dropdown-hover,.faxel-bar-block .faxel-dropdown-click{width:100%}
.faxel-bar-block .faxel-dropdown-hover .faxel-dropdown-content,.faxel-bar-block .faxel-dropdown-click .faxel-dropdown-content{min-width:100%}
.faxel-bar-block .faxel-dropdown-hover .faxel-button,.faxel-bar-block .w3-dropdown-click .faxel-button{width:100%;text-align:left;padding:8px 16px}
.faxel-main,#main{transition:margin-left .4s}
.faxel-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.faxel-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.faxel-bar{width:100%;overflow:hidden}.faxel-center .faxel-bar{display:inline-block;width:auto}
.faxel-bar .faxel-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.faxel-bar .faxel-dropdown-hover,.faxel-bar .faxel-dropdown-click{position:static;float:left}
.faxel-bar .faxel-button{white-space:normal}
.faxel-bar-block .faxel-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.faxel-bar-block.faxel-center .faxel-bar-item{text-align:center}.faxel-block{display:block;width:100%}
.faxel-responsive{display:block;overflow-x:auto}
.faxel-container:after,.faxel-container:before,.faxel-panel:after,.faxel-panel:before,.faxel-row:after,.faxel-row:before,.w3-row-padding:after,.faxel-row-padding:before,
.faxel-cell-row:before,.faxel-cell-row:after,.faxel-clear:after,.faxel-clear:before,.faxel-bar:before,.faxel-bar:after{content:"";display:table;clear:both}
.faxel-col,.faxel-half,.faxel-third,.faxel-twothird,.faxel-threequarter,.faxel-quarter{float:left;width:100%}
.faxel-col.s1{width:8.33333%}.faxel-col.s2{width:16.66666%}.faxel-col.s3{width:24.99999%}.faxel-col.s4{width:33.33333%}
.faxel-col.s5{width:41.66666%}.faxel-col.s6{width:49.99999%}.faxel-col.s7{width:58.33333%}.faxel-col.s8{width:66.66666%}
.faxel-col.s9{width:74.99999%}.faxel-col.s10{width:83.33333%}.faxel-col.s11{width:91.66666%}.faxel-col.s12{width:99.99999%}
@media (min-width:601px){.faxel-col.m1{width:8.33333%}.faxel-col.m2{width:16.66666%}.faxel-col.m3,.faxel-quarter{width:24.99999%}.faxel-col.m4,.faxel-third{width:33.33333%}
.faxel-col.m5{width:41.66666%}.faxel-col.m6,.faxel-half{width:49.99999%}.faxel-col.m7{width:58.33333%}.faxel-col.m8,.faxel-twothird{width:66.66666%}
.faxel-col.m9,.faxel-threequarter{width:74.99999%}.faxel-col.m10{width:83.33333%}.faxel-col.m11{width:91.66666%}.faxel-col.m12{width:99.99999%}}
@media (min-width:993px){.faxel-col.l1{width:8.33333%}.faxel-col.l2{width:16.66666%}.faxel-col.l3{width:24.99999%}.faxel-col.l4{width:33.33333%}
.faxel-col.l5{width:41.66666%}.faxel-col.l6{width:49.99999%}.faxel-col.l7{width:58.33333%}.faxel-col.l8{width:66.66666%}
.faxel-col.l9{width:74.99999%}.faxel-col.l10{width:83.33333%}.faxel-col.l11{width:91.66666%}.faxel-col.l12{width:99.99999%}}
.faxel-rest{overflow:hidden}.faxel-stretch{margin-left:-16px;margin-right:-16px}
.faxel-content,.faxel-auto{margin-left:auto;margin-right:auto}.faxel-content{max-width:980px}.faxel-auto{max-width:1140px}
.faxel-cell-row{display:table;width:100%}.faxel-cell{display:table-cell}
.faxel-cell-top{vertical-align:top}.faxel-cell-middle{vertical-align:middle}.faxel-cell-bottom{vertical-align:bottom}
.faxel-hide{display:none!important}.faxel-show-block,.faxel-show{display:block!important}.faxel-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.faxel-auto{max-width:95%}}
@media (max-width:600px){.faxel-modal-content{margin:0 10px;width:auto!important}.faxel-modal{padding-top:30px}
.faxel-dropdown-hover.faxel-mobile .faxel-dropdown-content,.faxel-dropdown-click.faxel-mobile .faxel-dropdown-content{position:relative}	
.faxel-hide-small{display:none!important}.faxel-mobile{display:block;width:100%!important}.faxel-bar-item.faxel-mobile,.faxel-dropdown-hover.faxel-mobile,.faxel-dropdown-click.faxel-mobile{text-align:center}
.faxel-dropdown-hover.faxel-mobile,.faxel-dropdown-hover.faxel-mobile .faxel-btn,.faxel-dropdown-hover.faxel-mobile .faxel-button,.faxel-dropdown-click.faxel-mobile,.faxel-dropdown-click.faxel-mobile .faxel-btn,.faxel-dropdown-click.faxel-mobile .faxel-button{width:100%}}
@media (max-width:768px){.faxel-modal-content{width:500px}.w3-modal{padding-top:50px}}
@media (min-width:993px){.faxel-modal-content{width:900px}.w3-hide-large{display:none!important}.faxel-sidebar.faxel-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.faxel-hide-medium{display:none!important}}
@media (max-width:992px){.faxel-sidebar.faxel-collapse{display:none}.faxel-main{margin-left:0!important;margin-right:0!important}.faxel-auto{max-width:100%}}
.faxel-top,.w3-bottom{position:fixed;width:100%;z-index:1}.faxel-top{top:0}.faxel-bottom{bottom:0}
.faxel-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.faxel-display-topleft{position:absolute;left:0;top:0}.w3-display-topright{position:absolute;right:0;top:0}
.faxel-display-bottomleft{position:absolute;left:0;bottom:0}.w3-display-bottomright{position:absolute;right:0;bottom:0}
.faxel-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.faxel-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.faxel-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.faxel-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.faxel-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.faxel-display-container:hover .faxel-display-hover{display:block}.faxel-display-container:hover span.faxel-display-hover{display:inline-block}.faxel-display-hover{display:none}
.faxel-display-position{position:absolute}
.faxel-circle{border-radius:50%}
.faxel-round-small{border-radius:2px}
.faxel-round,
.faxel-round-medium{border-radius:4px}
.faxel-round-large{border-radius:8px}
.faxel-round-xlarge{border-radius:16px}.faxel-round-xxlarge{border-radius:32px}
.faxel-row-padding,
.faxel-row-padding>
.faxel-half,
.faxel-row-padding>
.faxel-third,
.faxel-row-padding>
.faxel-twothird,.faxel-row-padding>
.faxel-threequarter,.faxel-row-padding>.faxel-quarter,.faxel-row-padding>.faxel-col{padding:0 8px}
.faxel-container,
.faxel-panel{padding:0.01em 16px}
.faxel-panel{margin-top:16px;margin-bottom:16px}
.faxel-code,
.faxel-codespan{font-family:Consolas,"courier new";font-size:16px}
.faxel-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.faxel-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.faxel-card,
.faxel-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.faxel-card-4,
.faxel-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.faxel-spin{animation:faxel-spin 2s infinite linear}@keyframes faxel-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.faxel-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.faxel-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.faxel-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.faxel-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.faxel-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.faxel-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.faxel-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.faxel-animate-input{transition:width 0.4s ease-in-out}
.faxel-animate-input:focus{width:100%!important}
.faxel-opacity,
.faxel-hover-opacity:hover{opacity:0.60}
.faxel-opacity-off,
.faxel-hover-opacity-off:hover{opacity:1}
.faxel-opacity-max{opacity:0.25}
.faxel-opacity-min{opacity:0.75}
.faxel-greyscale-max,
.faxel-grayscale-max,
.faxel-hover-greyscale:hover,
.faxel-hover-grayscale:hover{filter:grayscale(100%)}
.faxel-greyscale,
.faxel-grayscale{filter:grayscale(75%)}
.faxel-greyscale-min,
.faxel-grayscale-min{filter:grayscale(50%)}
.faxel-sepia{filter:sepia(75%)}
.faxel-sepia-max,
.faxel-hover-sepia:hover{filter:sepia(100%)}
.faxel-sepia-min{filter:sepia(50%)}
.faxel-tiny{font-size:10px!important}
.faxel-small{font-size:12px!important}
.faxel-medium{font-size:15px!important}
.faxel-large{font-size:18px!important}
.faxel-xlarge{font-size:24px!important}
.faxel-xxlarge{font-size:36px!important}
.faxel-xxxlarge{font-size:48px!important}
.faxel-jumbo{font-size:64px!important}
.faxel-left-align{text-align:left!important}
.faxel-right-align{text-align:right!important}
.faxel-justify{text-align:justify!important}
.faxel-center{text-align:center!important}
.faxel-border-0{border:0!important}
.faxel-border{border:1px solid #ccc!important}
.faxel-border-top{border-top:1px solid #ccc!important}
.faxel-border-bottom{border-bottom:1px solid #ccc!important}
.faxel-border-left{border-left:1px solid #ccc!important}
.faxel-border-right{border-right:1px solid #ccc!important}
.faxel-topbar{border-top:6px solid #ccc!important}
.faxel-bottombar{border-bottom:6px solid #ccc!important}
.faxel-leftbar{border-left:6px solid #ccc!important}
.faxel-rightbar{border-right:6px solid #ccc!important}
.faxel-section,
.faxel-code{margin-top:16px!important;margin-bottom:16px!important}
.faxel-margin{margin:16px!important}
.faxel-margin-top{margin-top:16px!important}
.faxel-margin-bottom{margin-bottom:16px!important}
.faxel-margin-left{margin-left:16px!important}
.faxel-margin-right{margin-right:16px!important}
.faxel-padding-small{padding:4px 8px!important}
.faxel-padding{padding:8px 16px!important}
.faxel-padding-large{padding:12px 24px!important}
.faxel-padding-16{padding-top:16px!important;padding-bottom:16px!important}
.faxel-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.faxel-padding-32{padding-top:32px!important;padding-bottom:32px!important}
.faxel-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.faxel-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.faxel-left{float:left!important}
.faxel-right{float:right!important}
.faxel-button:hover{color:#000!important;background-color:#ccc!important}
.faxel-transparent,
.faxel-hover-none:hover{background-color:transparent!important}
.faxel-hover-none:hover{box-shadow:none!important}

/* Couleurs */
.faxel-amber,
.faxel-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.faxel-aqua,
.faxel-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.faxel-blue,
.faxel-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.faxel-light-blue,
.faxel-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.faxel-brown,
.faxel-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.faxel-cyan,
.faxel-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.faxel-blue-grey,.faxel-hover-blue-grey:hover,.faxel-blue-gray,.faxel-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.faxel-green,
.faxel-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.faxel-light-green,.faxel-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.faxel-indigo,
.faxel-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.faxel-khaki,
.faxel-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.faxel-lime,
.faxel-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.faxel-orange,
.faxel-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.faxel-deep-orange,
.faxel-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.faxel-pink,
.faxel-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.faxel-purple,
.faxel-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.faxel-deep-purple,
.faxel-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.faxel-red,
.faxel-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.faxel-sand,
.faxel-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.faxel-teal,
.faxel-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.faxel-yellow,
.faxel-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.faxel-white,
.faxel-hover-white:hover{color:#000!important;background-color:#fff!important}
.faxel-black,
.faxel-hover-black:hover{color:#fff!important;background-color:#000!important}
.faxel-grey,
.faxel-hover-grey:hover,
.faxel-gray,
.faxel-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.faxel-light-grey,
.faxel-hover-light-grey:hover,
.faxel-light-gray,
.faxel-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.faxel-dark-grey,
.faxel-hover-dark-grey:hover,
.faxel-dark-gray,
.faxel-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.faxel-pale-red,
.faxel-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.faxel-pale-green,
.faxel-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.faxel-pale-yellow,
.faxel-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.faxel-pale-blue,
.faxel-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.faxel-text-amber,
.faxel-hover-text-amber:hover{color:#ffc107!important}
.faxel-text-aqua,
.faxel-hover-text-aqua:hover{color:#00ffff!important}
.faxel-text-blue,
.faxel-hover-text-blue:hover{color:#2196F3!important}
.faxel-text-light-blue,
.faxel-hover-text-light-blue:hover{color:#87CEEB!important}
.faxel-text-brown,
.faxel-hover-text-brown:hover{color:#795548!important}
.faxel-text-cyan,
.faxel-hover-text-cyan:hover{color:#00bcd4!important}
.faxel-text-blue-grey,
.faxel-hover-text-blue-grey:hover,
.faxel-text-blue-gray,
.faxel-hover-text-blue-gray:hover{color:#607d8b!important}
.faxel-text-green,
.faxel-hover-text-green:hover{color:#4CAF50!important}
.faxel-text-light-green,
.faxel-hover-text-light-green:hover{color:#8bc34a!important}
.faxel-text-indigo,
.faxel-hover-text-indigo:hover{color:#3f51b5!important}
.faxel-text-khaki,
.faxel-hover-text-khaki:hover{color:#b4aa50!important}
.faxel-text-lime,
.faxel-hover-text-lime:hover{color:#cddc39!important}
.faxel-text-orange,
.faxel-hover-text-orange:hover{color:#ff9800!important}
.faxel-text-deep-orange,
.faxel-hover-text-deep-orange:hover{color:#ff5722!important}
.faxel-text-pink,
.faxel-hover-text-pink:hover{color:#e91e63!important}
.faxel-text-purple,
.faxel-hover-text-purple:hover{color:#9c27b0!important}
.faxel-text-deep-purple,
.faxel-hover-text-deep-purple:hover{color:#673ab7!important}
.faxel-text-red,
.faxel-hover-text-red:hover{color:#f44336!important}
.faxel-text-sand,
.faxel-hover-text-sand:hover{color:#fdf5e6!important}
.faxel-text-teal,
.faxel-hover-text-teal:hover{color:#009688!important}
.faxel-text-yellow,
.faxel-hover-text-yellow:hover{color:#d2be0e!important}
.faxel-text-white,
.faxel-hover-text-white:hover{color:#fff!important}
.faxel-text-black,
.faxel-hover-text-black:hover{color:#000!important}
.faxel-text-grey,
.faxel-hover-text-grey:hover,
.faxel-text-gray,
.faxel-hover-text-gray:hover{color:#757575!important}
.faxel-text-light-grey,
.faxel-hover-text-light-grey:hover,
.faxel-text-light-gray,
.faxel-hover-text-light-gray:hover{color:#f1f1f1!important}
.faxel-text-dark-grey,
.faxel-hover-text-dark-grey:hover,
.faxel-text-dark-gray,
.faxel-hover-text-dark-gray:hover{color:#3a3a3a!important}
.faxel-border-amber,
.faxel-hover-border-amber:hover{border-color:#ffc107!important}
.faxel-border-aqua,
.faxel-hover-border-aqua:hover{border-color:#00ffff!important}
.faxel-border-blue,
.faxel-hover-border-blue:hover{border-color:#2196F3!important}
.faxel-border-light-blue,
.faxel-hover-border-light-blue:hover{border-color:#87CEEB!important}
.faxel-border-brown,
.faxel-hover-border-brown:hover{border-color:#795548!important}
.faxel-border-cyan,
.faxel-hover-border-cyan:hover{border-color:#00bcd4!important}
.faxel-border-blue-grey,
.faxelxel-hover-border-blue-grey:hover,
.faxel-border-blue-gray,
.faxel-hover-border-blue-gray:hover{border-color:#607d8b!important}
.faxel-border-green,
.faxel-hover-border-green:hover{border-color:#4CAF50!important}
.faxel-border-light-green,
.faxel-hover-border-light-green:hover{border-color:#8bc34a!important}
.faxel-border-indigo,
.faxel-hover-border-indigo:hover{border-color:#3f51b5!important}
.faxel-border-khaki,
.faxel-hover-border-khaki:hover{border-color:#f0e68c!important}
.faxel-border-lime,
.faxel-hover-border-lime:hover{border-color:#cddc39!important}
.faxel-border-orange,
.faxel-hover-border-orange:hover{border-color:#ff9800!important}
.faxel-border-deep-orange,
.faxel-hover-border-deep-orange:hover{border-color:#ff5722!important}
.faxel-border-pink,
.faxel-hover-border-pink:hover{border-color:#e91e63!important}
.faxel-border-purple,
.faxel-hover-border-purple:hover{border-color:#9c27b0!important}
.faxel-border-deep-purple,
.faxel-hover-border-deep-purple:hover{border-color:#673ab7!important}
.faxel-border-red,
.faxel-hover-border-red:hover{border-color:#f44336!important}
.w3-border-sand,
.faxel-hover-border-sand:hover{border-color:#fdf5e6!important}
.faxel-border-teal,
.faxel-hover-border-teal:hover{border-color:#009688!important}
.faxel-border-yellow,
.faxel-hover-border-yellow:hover{border-color:#ffeb3b!important}
.faxel-border-white,
.faxel-hover-border-white:hover{border-color:#fff!important}
.faxel-border-black,
.faxel-hover-border-black:hover{border-color:#000!important}
.faxel-border-grey,
.faxel-hover-border-grey:hover,
.faxel-border-gray,
.faxel-hover-border-gray:hover{border-color:#9e9e9e!important}
.faxel-border-light-grey,
.faxel-hover-border-light-grey:hover,
.faxel-border-light-gray,
.faxel-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.faxel-border-dark-grey,
.faxel-hover-border-dark-grey:hover,
.faxel-border-dark-gray,
.faxel-hover-border-dark-gray:hover{border-color:#616161!important}
.faxel-border-pale-red,
.faxel-hover-border-pale-red:hover{border-color:#ffe7e7!important}
.faxel-border-pale-green,
.faxel-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.faxel-border-pale-yellow,
.faxel-hover-border-pale-yellow:hover{border-color:#ffffcc!important}
.faxel-border-pale-blue,
.faxel-hover-border-pale-blue:hover{border-color:#e7ffff!important}
